

* {
  box-sizing: border-box; /* Includes padding and borders within widths */
}

.space-grotesk-importedgooglefont {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.electrolize-regular {
  font-family: "Electrolize", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.quicksand-mainimportedgooglefont {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    margin: 2.5px;
    padding: 0px;
    border-width: 0px;
    background-color: rgb(124, 156, 245);
}

header {
    font-family: 'Space Grotesk', sans-serif;
    background-color: darkcyan;
    color: rgb(222, 222, 222);
    padding: 5px;
    padding-left: 15px;
    border-radius: 5px;
    border: 5px solid rgb(222, 222, 222); /* Fixed syntax: removed commas */
}

.main {
    display: flex;
    flex-wrap: wrap; /*.*/
    margin: 2.5px;
    margin-top: 10px;
    padding: 5px; 
    border-radius: 5px;
    border: 5px solid rgb(222, 222, 222); /*.*/
    height: 44vh;
}

.abt_main {
    font-size: 24px;
    padding-left: 15px;
    font-family: 'Electrolize', sans-serif;
    width: 100%; /*.*/
}

.abt {
     padding-left: 10px;
}

p {
    font-family: 'Quicksand', sans-serif;
    width: 67%
}

#circuitmaker {
     margin: 2.5px;
     border: 5px solid rgb(222, 222, 222);
     width: calc(68% - 5px);
     height: calc(68% - 5px);
}

#blochsphere {
     margin: 2.5px;
     border: 5px solid rgb(222, 222, 222);
     width: calc(32% - 5px);
     height: calc(68% - 5px);
}

#mainprobabilities {
     margin: 2.5px;
     border: 5px solid rgb(222, 222, 222);
     width: calc(58% - 5px);
     height: calc(32% - 5px);
}

#statevector {
     margin: 2.5px;
     border: 5px solid rgb(222, 222, 222);
     width: calc(42% - 5px);
     height: calc(32% - 5px);
}
